Aapp_Soap_appl/NewWSDLFile1.2.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="NewWSDLFile1.2" targetNamespace="http://www.example.org/NewWSDLFile1.2/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/NewWSDLFile1.2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <binding hasEncoding="false" imported="true" name="NewWSDLFile1.2SOAP" originalBindingStyle="document"/>
        <generatedXSD location="NewWSDLFile1.2_InlineSchema1.xsd"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  
  
  
  <wsdl:types>
    
          <xsd:schema targetNamespace="http://www.example.org/NewWSDLFile1.2/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
<xsd:include schemaLocation="NewWSDLFile1.2_InlineSchema1.xsd"/>
</xsd:schema>
    </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="tns:NewOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperation1Request">
  	<wsdl:part element="tns:NewOperation1" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperation1Response">
  	<wsdl:part element="tns:NewOperation1Response" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="NewWSDLFile1.2">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="NewOperation1">
    	<wsdl:input message="tns:NewOperation1Request"/>
    	<wsdl:output message="tns:NewOperation1Response"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NewWSDLFile1.2SOAP" type="tns:NewWSDLFile1.2">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.example.org/NewWSDLFile1.2/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewOperation1">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewWSDLFile1.2">
    <wsdl:port binding="tns:NewWSDLFile1.2SOAP" name="NewWSDLFile1.2SOAP">
      <soap:address location="http://localhost:7803/soaptest"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>